<div class="centered">
  <section class="card profile">
  <aside>
    <img class="img" src="/img/img_avatar.png" alt="avatar">
  </aside>
  <p>Username: {{user.username}}</p>
  <p>Email: {{user.email}}</p>
  <p>Age: {{user.age}}</p>
  <p>Location: {{user.location}}</p>
  <p>Family: {{user.familyStatus}}</p>


  My Interests:
  {{#each user.interests}}
  <span>{{interestList}}</span>
  {{/each}}
  </section>

  <section class="card profile clearfix">
    <a href="/user/{{user._id}}/search" class="btn btn-primary">Search Influencers and Advertisers</a>
    <a href="/user/{{user._id}}/chat" class="btn btn-primary">My Chat Window</a>
  </section>
</div>