<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Age: {{user.age}}</p>
<p>Location: {{user.location}}</p>
<p>Family: {{user.familyStatus}}</p>


My Interests:
{{#each user.interests}}
<span>{{interestList}}</span>
{{/each}}

<a href="/user/{{user._id}}/profile/edit">Edit My Profile</a>

